* {
    margin: 0;
    padding: 0;
}
.main-content {
    min-height: calc(100vh - 80px);
}

.wrapper {
    margin-top: 15px;
}

div.required label.control-label:after {
    content: " *";
    color: red;
}

.subservice-items .subservice-item-block {
    display: flex;
    margin-bottom: -15px;

}

.subservice-items .subservice-item-block .form-group {
    margin-right: 5px;
}

.subservice-items .subservice-item-block .first-field {
    width: 400px;
}

.footer {
    text-align: center;
    color: darkgray;
    margin: 30px 0 10px;
}

table thead .header-control-btns {
    width:15%;
    text-align:center
}

table tbody .control-btns {
    text-align:center;
}

table tbody .control-btns a {
    margin-right: 5px;
}